<div class="not-found-page">
    <div class="not-found-page__content">
      <div class="not-found-page__title">
        <img class="not-found-page__title-img" src="./assets/not-found/logo.svg" alt="logo">
        <h3 class="not-found-page__title-text">SoftNutri</h3>
      </div>
  
      <mat-card class="not-found-page__card">
        <mat-card-content class="not-found-page__content">
          <h1 class="not-found-page__card-title">404</h1>
  
          <p class="not-found-page__card-sub-title">Oops. Essa página não existe!</p>
          <p class="not-found-page__card-sub-title-second">Não fique bravo(a) e não chore. Deixe a gente levar este fardo. Não é sua culpa. Não, sério, me ouça. Não é sua culpa.</p>
  
          <button class="not-found-page__card-button" mat-raised-button color="primary" [routerLink]="rota">Voltar</button>
  
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  