  <form class="form" [formGroup]="form" (ngSubmit)="send()">
    <h2 mat-dialog-title>{{'INTERVAL.TIME_INFO' | translate}}</h2>
    <mat-dialog-content style="overflow: hidden;">

      <mat-form-field class="example-full-width">
        <input type="number" matInput formControlName="time">
        <i matSuffix class="fa-solid fa-hourglass-start" style="font-size: 25px;"></i>
      </mat-form-field>
      
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <div class="form-actions">
      <button class="form-actions__login" mat-raised-button color="primary" type="submit">
        {{'GLOBAL.WORD_SAVE' | translate}}</button>
    </div>
  </mat-dialog-actions>
  </form>

