<app-layout>
    <form class="form" [formGroup]="form" (ngSubmit)="send()">
        <mat-card class="table-table-wrapper">

            <mat-toolbar color="white">
                <span class="table-table-wrapper__title">{{'SNACK.SNACK_NEW' | translate}}</span>
            </mat-toolbar>

            <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column">
                <mat-form-field fxFlex fxFlex="20%" appearance="outline">
                    <mat-label>{{'SNACK.NAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="name" required>
                </mat-form-field>
                <mat-form-field fxFlex fxFlex="80%" appearance="outline">
                    <mat-label>{{'SNACK.DESCRIPTION' | translate}}</mat-label>
                    <input matInput required type="text" formControlName="description">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <section>
                <button mat-raised-button color="warn" class="button-cancel" [routerLink]="back" routerLinkActive="active">
                    {{'GLOBAL.CANCEL' | translate}}
                </button>
                <button mat-flat-button class="button-color" type="submit">
                    {{'GLOBAL.WORD_SAVE' | translate}}
                </button>
            </section>
        </mat-card>
    </form>
</app-layout>