<mat-card class="cards-dicas" style="height: 94%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/frutos-do-mar.png" alt="pera" height="50" width="50">
            <h1 class="card-page__title-text">Coma peixe gordo</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            Praticamente todos concordam que peixe é saudável. Isto é particularmente verdade para peixes gordurosos,
            como o salmão, que é carregado com ácidos graxos ômega-3 e vários outros nutrientes. Estudos mostram
            que as pessoas que comem mais peixe têm menor risco de todos os tipos de doenças, incluindo doenças
            cardíacas, demência e depressão.
            </p>
        </h2>

    </mat-card-content>
</mat-card>