<mat-card class="cards-dicas" style="height: 93%;">
    <mat-card-title class="cards-dicas__header">
        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/noz.png" alt="pera" height="50" width="50">
            <h1 class="card-page__title-text">Coma nozes</h1>
        </div>

    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p>Apesar de serem ricas em gordura, as nozes são incrivelmente nutritivas e saudáveis. Elas são carregadas com
                magnésio, vitamina E, fibra e vários outros nutrientes. Estudos mostram que as nozes podem ajudar a
                perder peso e podem ajudar a combater o diabetes tipo 2 e as doenças cardíacas. Além disso,
                cerca de 10-15% das calorias nas nozes não são sequer absorvidas pelo corpo, e algumas evidências sugerem
                que elas podem estimular o metabolismo. Em um estudo, as amêndoas demonstraram aumentar a perda de peso
                em 62% em comparação com carboidratos complexos.</p>
            
        </h2>

    </mat-card-content>
</mat-card>