<mat-card class="cards-dicas" style="height: 94%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/beer.png" alt="ovo" height="50" width="50">
            <h1 class="card-page__title-text">Não fume ou use drogas e beba apenas com moderação</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            Se você é um fumante de tabaco ou usa drogas, a dieta e o exercício são a menor das suas preocupações.
            Enfrente esses problemas primeiro. Se você optar por incluir o álcool em sua vida, faça isso apenas com
            moderação e considere evitá-lo completamente se tiver tendências alcoólicas.
            </p>
        </h2>

    </mat-card-content>
</mat-card>