<app-layout>
  <mat-card class="table-table-wrapper">
    <mat-toolbar color="white">
      <span class="table-table-wrapper__title">{{'TABLE.TABLE_ALL' | translate}}</span>
      <span class="header-spacer"></span>
      <button mat-flat-button class="button-color" [routerLink]="action" routerLinkActive="active">
        {{'GLOBAL.NEW' | translate}}
      </button>
    </mat-toolbar>
    <mat-card-content class="table-table__content style-mat-card-contet">

      <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column">
        <mat-form-field fxFlex="35%">
          <mat-label>{{'GLOBAL.FILTER' | translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{'TABLE.NAME' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> {{'TABLE.DESCRIPTION' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">

            <mat-button-toggle-group #group="matButtonToggleGroup">
              <mat-button-toggle (click)="edit(element.idCompositionTable)">
                <i class="fa-solid fa-pen-to-square"></i>
              </mat-button-toggle>
              <mat-button-toggle (click)="delete(element.idCompositionTable)">
                <i class="fa-solid fa-trash"></i>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

    <div class="pagination">
      <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</app-layout>
