<mat-card class="cards-dicas" style="height: 94%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/frutas.png" alt="ovo" height="50" width="50">
            <h1 class="card-page__title-text">Coma legumes e frutas</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            Legumes e frutas são os alimentos saudáveis ”padrão”, e por boas razões. Eles são carregados com fibras
            prebióticas, vitaminas, minerais e todos os tipos de antioxidantes, alguns dos quais têm efeitos biológicos
            potentes. Estudos mostram que as pessoas que comem mais vegetais e frutas vivem mais e têm menor risco de
            doença cardíaca, diabetes tipo 2, obesidade e todos os tipos de doenças.
            </p>
        </h2>

    </mat-card-content>
</mat-card>