<form class="form" [formGroup]="form" (ngSubmit)="send()">
    <mat-form-field class="form__input" appearance="fill">
      <input matInput placeholder="{{'FOOD.FOOD_IDFOOD_GROUP' | translate}}" type="number" formControlName="idFoodGroup" readonly>
    </mat-form-field> 
    <mat-form-field class="form__input" appearance="fill">
      <input matInput placeholder="{{'FOOD.FOOD_DESCRIPTION' | translate}}" type="text" formControlName="description" >
    </mat-form-field> 
     
      <div class="form-actions">
        <button class="form-actions__login" mat-raised-button color="primary" type="submit"><i class="fa-solid fa-floppy-disk"></i>{{'GLOBAL.WORD_SAVE' | translate}}</button> 
      </div>
    </form>
    