<app-layout>

  <mat-card class="table-table-wrapper">
  <mat-tab-group animationDuration="500ms" mat-align-tabs="center" dynamicHeight>
     
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="size-icon-tab fa-regular fa-calendar-check"></i>
      </ng-template>

      <app-calendar-list></app-calendar-list>
      
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="size-icon-tab fa-regular fa-calendar-days"></i>
      </ng-template>

      <app-calendar-form></app-calendar-form>
      
    </mat-tab>
  
  </mat-tab-group>
</mat-card>
</app-layout>