.button-yes{
    background: #2daf2d;
    color: white !important;
}

.button-not{
    background: #8f160d;
    color: white !important;
}
.div-calendar-end{
    float: right;
}

.div-text-calendar{
    text-align: center;
}