<app-layout>
    <mat-card class="table-table-wrapper">
      <mat-toolbar color="white">
        <span class="table-table-wrapper__title">{{'SNACK.SNACK_TITLE' | translate}}</span>
        <span class="header-spacer"></span>
        <button mat-flat-button class="button-color" [routerLink]="action" routerLinkActive="active">
          <i class="fa-solid fa-plus"></i>{{'GLOBAL.NEW' | translate}}
        </button>
      </mat-toolbar>
      <mat-card-content class="table-table__content style-mat-card-contet">
        <mat-form-field appearance="standard">
          <mat-label>{{'GLOBAL.FILTER' | translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
  
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'SNACK.NAME' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{'SNACK.DESCRIPTION' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
              <div class="button">
                <button mat-button (click)="edit(element.idSnack)"><i class="fa-solid fa-pen-to-square"></i></button>
                <button mat-button (click)="delete(element.idSnack)"><i class="fa-solid fa-trash"></i></button>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>

      <div class="pagination">
        <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </app-layout>