<div class="auth-page">
    <div class="auth-page__content-block">
      <div class="auth-page__content-wrapper">
        <mat-tab-group class="auth-page__group">
          <mat-tab label="Login">
            <h4 class="auth-page__group-title">Olá</h4>
          
  
            <app-login-form (sendLoginForm)="sendLoginForm($event)"></app-login-form>
  
          </mat-tab>
          <mat-tab label="Buscar">
            <h4 class="auth-page__group-title">Bem-vindo(a)!</h4>
            <p class="auth-page__group-sub-title">Buscar dados</p>
  
            <app-search-form (sendSignForm)="sendSignForm()"></app-search-form>

          </mat-tab>
        </mat-tab-group>
  
        <p class="auth-page__footer-title">© 2022-{{currentYear}} Softnutri.</p>
      </div>
    </div>
    <div class="auth-page__logo">
      <div class="auth-page__logo-wrapper">
        <img class="auth-page__logo-img" src="./assets/auth/logo.svg" alt="logo" height="150" width="150">
        <h6 class="auth-page__logo-title">Softnutri</h6>
      </div>
    </div>
  </div>
  