<app-layout>
    <mat-card class="table-table-wrapper" style="margin-bottom: 100px;">

        <button mat-icon-button [matMenuTriggerFor]="menu" class="position_menu">
            <i class="fa-solid fa-bars"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog(1)">
              <span><i class="fa-solid fa-carrot"></i> {{'FOOD.FOOD_NEW_FOOD' | translate}}</span>
            </button>
            <button mat-menu-item (click)="openDialog(2)">
              <span><i class="fa-solid fa-layer-group"></i> {{'FOOD.FOOD_NEW_FOOD_GROUP' | translate}}</span>
            </button>
          </mat-menu>

       

        <mat-form-field appearance="standard">
            <mat-label>{{'GLOBAL.FILTER' | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <mat-card-content class="table-table__content style-mat-card-contet">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null; getSelected($event, row.food)" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)" >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="bunch">
                    <th mat-header-cell *matHeaderCellDef> {{'BUNCH.BUNCH_NAME' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.bunch.description}} </td>
                </ng-container>
                
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> {{'FOOD.FOOD_DESCRIPTION' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.food.description}} </td>
                </ng-container>
                <ng-container matColumnDef="calories">
                    <th mat-header-cell *matHeaderCellDef> {{'FOOD.FOOD_CALORIES' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.food.nutritionalData.calories}} </td>
                </ng-container>
                <ng-container matColumnDef="protein">
                    <th mat-header-cell *matHeaderCellDef> {{'FOOD.FOOD_PROTEIN' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.food.nutritionalData.protein}} </td>
                </ng-container>
                <ng-container matColumnDef="lipids">
                    <th mat-header-cell *matHeaderCellDef> {{'FOOD.FOOD_LIPIDS' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.food.nutritionalData.lipids}} </td>
                </ng-container>
                <ng-container matColumnDef="carbohydrate">
                    <th mat-header-cell *matHeaderCellDef> {{'FOOD.FOOD_CARBOHYDRATE' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.food.nutritionalData.carbohydrate}} </td>
                </ng-container>

                <ng-container matColumnDef="actionsFood">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element">
                      <div class="button">
                        <button (click)="removeFoodbunch(element.idFoodBunch)" mat-button matTooltip="{{'BUNCH.FOOD_BUNCH_REMOVE' | translate}}"><i *ngIf="element.bunch.description != null" style="color: rgb(124, 4, 4);" class="fa-solid fa-ban"></i></button>
                        <button (click)="editBunch(element.bunch)" mat-button matTooltip="{{'BUNCH.BUNCH_EDIT' | translate}}"><i *ngIf="element.bunch.description != null" class="fa-solid fa-file-circle-question"></i></button>
                        <button (click)="removeBunch(element.bunch.idBunch)" mat-button matTooltip="{{'BUNCH.BUNCH_REMOVE' | translate}}"><i *ngIf="element.bunch.description != null" style="color: rgb(124, 4, 4);" class="fa-solid fa-trash-can-arrow-up"></i></button>
                        <button (click)="editFood(element.food)" mat-button matTooltip="{{'FOOD.FOOD_EDIT' | translate}}"><i class="fa-solid fa-apple-whole"></i></button>
                        <button (click)="removeFood(element.food.idFood)" mat-button matTooltip="{{'FOOD.FOOD_REMOVE' | translate}}"><i style="color: rgb(119, 119, 34);" class="fa-solid fa-recycle"></i></button>
                      </div>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </mat-card-content>
        <div class="pagination">
            <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>
        </div>
    </mat-card>
    <app-food-group-association class="footer"></app-food-group-association>
</app-layout>