@import "src/app/styles/colors";
@import "src/app/styles/variables";
@import "src/app/styles/font";

table {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #1f4f66;
  padding: 10px 20px;
  line-height: 24px;
  font-family: Montserrat;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0 5px 12px 14px rgb(0 0 0 / 6%);
  z-index: 999;
}