<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1 class="title-home">Orientações nutricionais</h1>
    </mat-toolbar>

    <div class="card-wrapper">
        <div class="card-dica">
            <app-card-one></app-card-one>
        </div>
        <div class="card-dica">
            <app-card-two></app-card-two>
        </div>
        <div class="card-dica">
            <app-card-three></app-card-three>
        </div>
        <div class="card-dica">
            <app-card-four></app-card-four>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card-dica">
            <app-card-five></app-card-five>
        </div>
        <div class="card-dica">
            <app-card-six></app-card-six>
        </div>
    </div>

    <div class="card-wrapper">
        <div class="card-dica">
            <app-card-seven></app-card-seven>
        </div>
        <div class="card-dica">
            <app-card-eight></app-card-eight>
        </div>
        <div class="card-dica">
            <app-card-nine></app-card-nine>
        </div>
        <div class="card-dica">
            <app-card-ten></app-card-ten>
        </div>
    </div>

</app-layout>