<mat-card class="cards-dicas">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/ovo-cozido.png" alt="ovo" height="50" width="50">
            <h1 class="card-page__title-text">Coma ovos e não jogue fora a gema</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            Os ovos inteiros são tão nutritivos que muitas vezes são chamados de “multivitamínicos da natureza”. É um
            mito o fato de que os ovos fazem mal por causa do colesterol, isso acontece por estudos em ratos que eram
            superalimentados com ovos. Estudos mostram que eles não têm efeito sobre o colesterol sanguíneo na maioria
            das pessoas. Além disso, um estudo de revisão maciça que incluiu. Indivíduos descobriu que o
            consumo de ovos não tinha associação com o risco de doença cardíaca. O que nos resta é um dos
            alimentos mais nutritivos do planeta, e a gema é onde quase todos os nutrientes são encontrados. Dizer às
            pessoas para jogar fora a gema está entre os piores conselhos da história da nutrição.
            </p>
        </h2>

    </mat-card-content>
</mat-card>