<mat-card class="cards-dicas" style="height: 94%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/coffee.png" height="50" width="50">
            <h1 class="card-page__title-text">Não tema o café</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            O café foi injustamente demonizado. A verdade é que ele é realmente muito saudável. O café é rico em
            antioxidantes, e estudos mostram que os bebedores de café vivem mais e têm um risco reduzido de diabetes
            tipo 2, doença de Parkinson, Alzheimer e inúmeras outras doenças.
            </p>
        </h2>

    </mat-card-content>
</mat-card>