<mat-card class="cards-dicas" style="height: 93%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/hamburguer.png" alt="pera" height="50" width="50">
            <h1 class="card-page__title-text">Evite alimento processado</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            Todas as comidas processadas na dieta são a maior razão pela qual o mundo está mais obeso e doente do que
            nunca. Esses alimentos foram projetados para serem “hiper recompensadores”, por isso enganam nossos cérebros
            nos fazendo comer mais do que precisamos, levando até mesmo ao vício, em algumas pessoas. Elas também
            são pobres em fibras, proteínas e micronutrientes (as famosas calorias vazias), mas ricas em ingredientes
            insalubres como açúcar adicionado e grãos refinados.
            </p>
        </h2>

    </mat-card-content>
</mat-card>