<mat-card class="cards-dicas" style="height: 93%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/garrafa-de-agua.png" alt="garrafa-de-agua" height="50" width="50">
            <h1 class="card-page__title-text">Beba água</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
                Beber bastante água pode ter inúmeros benefícios. Um fator importante é que ela pode ajudar a aumentar a
                quantidade de calorias que você queima. De acordo com 2 estudos, pode aumentar o metabolismo em 24-30%
                durante um período de 1-1,5 horas. Isso pode chegar a 96 calorias adicionais queimadas se você beber 2
                litros (67 oz) de água por dia. A melhor hora para beber água é meia hora antes das refeições. Um
                estudo mostrou que meio litro de água, 30 minutos antes de cada refeição, aumentou a perda de peso em 44%.
            </p>
           
        </h2>

    </mat-card-content>
</mat-card>