<mat-divider></mat-divider>
<form [formGroup]="form">

      <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column">
        <mat-form-field fxFlex="45%">
            <mat-label>{{'FOOD.FOOD_TITLE' | translate}}</mat-label>
            <input type="text" matInput [formControl]="foodControl" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoCompleteDisplayFood" (optionSelected)="onFoodSelected($event.option)">
                <mat-option *ngFor="let option of filteredOptionsFood | async" [value]="option">
                   {{option.bunch.description | translate}}  |  {{option.food.description}}
                  </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field fxFlex="15%">
            <button
              matPrefix
              mat-icon-button
              matTooltip="{{'GLOBAL.QUANTITY' | translate}}">
              <i class="fa-solid fa-list-ol"></i>
            </button>
            <input matInput type="number" formControlName="amount" (ngModelChange)="setCalories()"/>
          </mat-form-field>

        <mat-form-field fxFlex="10%" aria-disabled="true">
            <button
              matPrefix
              mat-icon-button
              matTooltip="{{'FOOD.FOOD_CALORIES' | translate}}">
              <i class="fa-regular fa-circle-question"></i>
            </button>
            <input matInput type="text" formControlName="calories" readonly/>
          </mat-form-field>
            <mat-form-field fxFlex="10%">
                <button
                  matPrefix
                  mat-icon-button
                  matTooltip="{{'FOOD.FOOD_PROTEIN' | translate}}">
                  <i class="fa-regular fa-circle-question"></i>
                </button>
                <input [disabled]="true" matInput type="number" formControlName="protein"/>
              </mat-form-field>
              <mat-form-field fxFlex="10%">
                <button
                  matPrefix
                  mat-icon-button
                  matTooltip="{{'FOOD.FOOD_LIPIDS' | translate}}">
                  <i class="fa-regular fa-circle-question"></i>
                </button>
                <input [disabled]="true" matInput type="number" formControlName="lipids"/>
              </mat-form-field>
              <mat-form-field fxFlex="10%">
                <button
                  matPrefix
                  mat-icon-button
                  matTooltip="{{'FOOD.FOOD_CARBOHYDRATE' | translate}}">
                  <i class="fa-regular fa-circle-question"></i>
                </button>
                <input [disabled]="true" matInput type="number" formControlName="carbohydrate"/>
              </mat-form-field>
      </div>
  </form>