@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.padding-mat-divider{
  padding-bottom: 8px;
}

.style-icon{
  color: $white;
}

.style-button-remove{
  background-color: #931f17;
}

.margin-card-total{
  padding: 5px 5px 5px 5px;
}