<mat-card class="cards-dicas" >
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/refrigerantes.png" alt="pera" height="50" width="50">
            <h1 class="card-page__title-text">Não beba calorias de açúcar</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            Bebidas açucaradas são as coisas mais engordantes que você pode colocar em seu corpo. Isso ocorre porque as
            calorias do açúcar líquido não são registradas pelo cérebro da mesma forma que as calorias dos alimentos
            sólidos. Por essa razão, quando você bebe refrigerante, acaba ingerindo mais calorias totais. As
            bebidas açucaradas estão fortemente associadas à obesidade, diabetes tipo 2, doenças cardíacas e todos os
            tipos de problemas de saúde. Tenha em mente que os sucos de frutas são quase tão ruins quanto o
            refrigerante a este respeito. Eles contêm tanto açúcar, e as pequenas quantidades de antioxidantes não
            negativam os efeitos nocivos do açúcar. Não adicione mais ainda.
            </p>
        </h2>

    </mat-card-content>
</mat-card>