<mat-card class="cards-dicas" style="height: 93%;">
    <mat-card-title class="cards-dicas__header">

        <div class="card-page__title">
            <img class="card-page__title-img" src="./assets/frutas/dormir.png" alt="dormir" height="50" width="50">
            <h1 class="card-page__title-text">Durma o suficiente</h1>
        </div>
    </mat-card-title>

    <mat-card-content class="cards-dicas__content">
        <h2>
            <p> 
            A importância de dormir o suficiente não pode ser exagerada. Pode ser tão importante quanto dieta e
            exercício, se não mais. O sono insuficiente pode levar à resistência à insulina, eliminar os hormônios do
            apetite e reduzir seu desempenho físico e mental. Além do mais, é um dos mais fortes
            fatores de risco individuais para ganho de peso e obesidade no futuro. Um estudo mostrou que o sono de curta
            duração foi associado a um aumento de 89% no risco de obesidade em crianças e de 55% em adultos.
            </p>
        </h2>

    </mat-card-content>
</mat-card>