<app-layout>
    <mat-card class="table-table-wrapper">
<mat-tab-group animationDuration="500ms" mat-align-tabs="center" dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="size-icon-tab fa-solid fa-calendar-check"></i>
        {{'MENU.CALENDAR' | translate}}
      </ng-template>
      <app-calendar-professional></app-calendar-professional>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="size-icon-tab fa-solid fa-book-medical"></i>
        {{'GLOBAL.HISTORIC' | translate}}
      </ng-template>
      
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="size-icon-tab fa-solid fa-clipboard-user"></i>
        {{'GLOBAL.ATTENDANCE' | translate}}
      </ng-template>
      <app-attendance></app-attendance>
    </mat-tab>
  </mat-tab-group>
  </mat-card>
</app-layout>