<mat-toolbar color="white">
  <span class="title-dialog">{{'FOOD.FOOD_NEW_FOOD' | translate}}</span>
</mat-toolbar>
<mat-divider></mat-divider>
<form class="form" [formGroup]="form" (ngSubmit)="send()">
  <mat-dialog-content style="overflow: hidden;">
  <div [hidden]="true">
    <mat-form-field class="form__input" appearance="outline" disable>
      <input matInput placeholder="idFood" type="number" formControlName="idFood" readonly>
    </mat-form-field>
  </div>
  <mat-form-field class="form__input" appearance="outline">
    <mat-label>{{'TABLE.TABLE' | translate}}</mat-label>
    <mat-select formControlName="table">
      <mat-option *ngFor="let t of table" [value]="t.idCompositionTable">
        {{t.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="{{'FOOD.FOOD_DESCRIPTION' | translate}}" type="text" formControlName="description" required>
  </mat-form-field>
  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="{{'FOOD.FOOD_PREPARATION' | translate}}" type="text" formControlName="descriptionPreparation" required>
  </mat-form-field>

  <app-nutritional-data [sendNutritionalData]="nutritionalData" (sendNutritionalForm)="updateNutritionalData($event)">
  </app-nutritional-data>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
  <div class="form-actions">
    <button mat-stroked-button color="warn" [mat-dialog-close]>{{'GLOBAL.CLOSE' | translate}}</button>
    <button mat-stroked-button color="primary" type="submit">{{'GLOBAL.WORD_SAVE' | translate}}</button>
  </div>
</mat-dialog-actions>
</form>

