<mat-card style="margin-bottom: 100px;">
  <mat-card-content class="table-table__content style-mat-card-contet">
<mat-card-content class="table-table__content style-mat-card-contet">
  <div fxLayout="row"> 
  <mat-form-field fxFlex="34%" appearance="outline">
      <mat-label>{{'TABLE.TABLE' | translate}}</mat-label>
      <input type="text" matInput [formControl]="tableControl" [matAutocomplete]="autoTable"
          required>
      <mat-autocomplete #autoTable="matAutocomplete" [displayWith]="autoCompleteDisplayTable"
          (optionSelected)="onTableSelected($event.option)" >
          <mat-option *ngFor="let option of filteredOptionsTable | async" [value]="option">
              {{option.name}}
          </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</div>
<div class="div-center" fxFlex="100%"> 
  <button *ngIf="loadingFoods" mat-mini-fab  matTooltip="{{'MENU.ADD_SNACK_MENU' | translate}}" class="style-button" (click)="setSnackMenu()">
    <i class="style-icon fa-solid fa-plus"></i>
  </button>
</div>
</mat-card-content>

  <div fxLayout="row" *ngFor="let sm of listSnackMenu">
    <mat-card fxFlex="100%">
      <mat-card-content >
        <div>
          <mat-chip-listbox fxFlex="95%"  *ngFor="let s of sm.listSnackMenu">
            <mat-chip-option fxFlex="85%" selected="{{s.selected}}" value="{{s.idSnack}}" (click)="selectedSnack(s.idSnack, sm.idSnackMenu)" >{{s.name}}</mat-chip-option>
          </mat-chip-listbox>
            <button mat-mini-fab class="style-button-remove" matTooltip="{{'MENU.REMOVE_SNACK_MENU' | translate}}" (click)="removeSnackMenu(sm.idSnackMenu)">
              <i class="style-icon fa-solid fa-minus"></i>
            </button>
        </div>
        <div class="margin-food">
          <button mat-mini-fab matTooltip="{{'MENU.ADD_FOOD' | translate}}" class="style-button" (click)="setFoodBreakFast(sm.idSnackMenu)">
            <i class="style-icon fa-solid fa-utensils"></i>
          </button>
      </div>
        <div *ngFor="let o of sm.listBreakFast">
          <app-food-attendance [idTable]="idTable" [foodMenu]="o" (changedFoodMenu)="deleteFoodMenu($event)" (changedTotal)="totalFoodMenu($event)"></app-food-attendance>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card *ngIf="loadingFoods" fxLayout="row" fxFlex="100%" style="height: 25px; margin-top: 10px; text-align: center;">
      <span fxFlex="25%"><b>{{'FOOD.FOOD_CALORIES' | translate}} : {{caloriesSum | number}} </b></span>
      <span fxFlex="25%"><b>{{'FOOD.FOOD_PROTEIN' | translate}} : {{proteinSum | number}}</b></span>
      <span fxFlex="25%"><b>{{'FOOD.FOOD_LIPIDS' | translate}} : {{lipidsSum | number}}</b></span>
      <span fxFlex="25%"><b>{{'FOOD.FOOD_CARBOHYDRATE' | translate}} : {{carbohydrateSum | number}}</b></span>
  </mat-card>
  </mat-card-content>
</mat-card>

