@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

i{
  padding: 5px;
}

.size-icon-tab{
    font-size: 25px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .margin-food {
    padding: 5px 5px 5px 5px;
  }

  .style-button{
    background-color: $blue;
  }

  .style-icon{
    color: $white;
  }

  .div-center{
    text-align: center;
  }

  .style-button-remove{
    background-color: #931f17;
  }