<form class="form" [formGroup]="form" (ngSubmit)="sendFoodBunch()">

    <mat-form-field appearance="fill" class="style_mat_form" (click)="getBunchs()">
        <mat-label>{{'FOOD.FOOD_FOOD_GROUP' | translate}}</mat-label>
        <mat-select disableOptionCentering  formControlName="idFoodGroup" required>
          <mat-option>{{'GLOBAL.GLOBAL_SELECT' | translate}}</mat-option>
          <mat-option *ngFor="let fG of bunchs" [value]="fG">
            {{fG.description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.hasError('required')">{{'GLOBAL.GLOBAL_SELECT' | translate}}</mat-error>
        <mat-hint>{{form.value?.sound}}</mat-hint>
      </mat-form-field>
 
      <div class="form-actions" style="float:right">
        <button class="form-actions__login" mat-raised-button color="primary" type="submit"><i class="fa-solid fa-floppy-disk"></i>{{'GLOBAL.WORD_SAVE' | translate}}</button> 
      </div>
    </form>
    