@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

i {
  padding: 5px;
}

label{
  color: #7c7e81;
}

mat-radio-button{
  color: #7c7e81;
}

.header-spacer {
  flex: 1 1 auto;
}

section {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


mat-radio-group{
  margin-top: 20px;
}



.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}